<h1>サイト内検索</h1>
<form action="/search_result" method="get" >
	<label>タイトル:</label><input type="text" name="title"><br>
	<label>詳細:</label><textarea name="content"></textarea><br>
	<input type="submit" value="検索">
</form>
